@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
	@apply h-dvh scroll-smooth bg-white font-sans text-brand-900 antialiased;
}

@keyframes bounce-horizontal {
	0%,
	100% {
		transform: translatex(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

.animate-bounce-horizontal {
	animation: bounce-horizontal 1s infinite;
}

@keyframes swaying {
	0%,
	100% {
		transform: rotate(5deg);
		animation-timing-function: ease-in-out;
	}
	50% {
		transform: rotate(-5deg);
		animation-timing-function: ease-in-out;
	}
}

.animate-swaying {
	animation: swaying 2.5s infinite;
}
